
h2 Trigger Rally

p Thanks for signing up at Trigger Rally!

p To confirm your email address and complete the process, please 
  a(href="http://triggerrally.com/verify/blahblah") click here
  | or paste this link into your browser:

p
  pre http://triggerrally.com/verify/blahblah

p Please don't reply to this email, as this address may not be monitored.
