.footer
  .section Copyright &copy; 2012-2013 <a href="https://github.com/CodeArtemis">Code Artemis</a>
  img.logo(src="/images/screen2.jpg")
  a(href="/about") About Trigger Rally online edition
  p
    | Bug reports, feedback?
    |  Please <a href="https://github.com/CodeArtemis/TriggerRally/issues">file an issue</a> or
    |  <a href="https://twitter.com/intent/tweet?screen_name=TriggerRally" class="twitter-mention-button" data-lang="en">Tweet to @TriggerRally</a>
  div.clearboth
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
