.header
  .container
    .navpath
      h1
        a(href="/") Trigger Rally
        span.version  online edition&nbsp;
    //- .userinfo
    //-   if user
    //-     include user
    //-     span  &mdash; 
    //-     a(href='/logout') Log Out
    //-   else
    //-     span
    //-       a(href="/login")
    //-         strong Log in
