table.list
  tr
    td Track
    td By
    td Modified
    td
    td
  each track in recentTracks
    tr
      td
        a(href="/track/#{track.pub_id}/drive")= track.name
      td
        user = track.user
        include user
      td= track.modified_ago
      td
        a(href="/track/#{track.pub_id}") Details
      if track.env
        td
          a(href="/track/#{track.pub_id}/edit") Edit
