.section Log in

p Log in with one of these services:

prefix = popup ? "/v1" : ""

a.button(href=prefix + "/auth/facebook")
  img(src="/images/facebook_64.png")
  strong Facebook

a.button(href=prefix + "/auth/google")
  img(src="/images/google_64.png")
  strong Google

a.button(href=prefix + "/auth/twitter")
  img(src="/images/twitter_64.png")
  strong Twitter

p This will only be used to identify your account. We will not
  |  see your password, and won't post anything to your stream.
