
@import common

body
  background #888
  //color #bbb
  padding 0
  margin 0
  font-family "Ubuntu", sans-serif
  //font-size 0.8em
  overflow hidden
  text-shadow 0 1px 0 #000

h2
  display inline

input[type="range"]
  width 60%

input:checked + label
  color #e77

#editor-toolbox
  background #fda
  box-shadow 0 0 40px black
  position absolute
  width 100%
  z-index 2

#editor-toolbox > div
  margin 5px

// Setting the children to flex shouldn't be necessary, but seems to be.
#editor-toolbox > div > *
  display inline-block

.scroll-horiz
  overflow-x scroll
  white-space nowrap


//.userinfo


#view3d
  background green
  position absolute
  width 100%
