
@import common

body
  background #888
  padding 0
  margin 0
  font-family "Ubuntu", sans-serif
  //font-size 0.8em
  overflow hidden

h2
  display inline

input[type="range"]
  width 60%

input:checked + label
  color #e77

#editor-toolbox
  background #fda
  box-shadow 0 0 40px black
  position absolute
  width 100%
  z-index 2

#editor-toolbox > table
  border-spacing 0
  width 100%

#editor-toolbox > table td
  width 33.3%

#editor-toolbox > table td:nth-child(2)
  text-align center

#editor-toolbox > table td:last-child
  text-align right

menu
  background rgba(255,255,255,0.8)
  cursor pointer
  margin 0
  padding 0
  position relative

menu li
  list-style none
  padding 0.5em

menu li:hover
  background white

menu menu
  display none
  position absolute

menu li:hover > menu
  display block

//.userinfo
//  float right


#view3d
  background green
  position absolute
  width 100%
