
.profile-card
  background white
  box-shadow inset 0 0 4em rgba(0,0,0,0.3), 0 0.3em 1em black
  border-radius 0.8em
  scale = 0.75
  font-size scale * 1em
  // padding 0.5em
  position absolute
  // Total space is 32em by 18em.
  // Card size is 21 by 13.
  width 21em
  height 13em
  top (18/scale * 1em - @height) * 0.1
  left (32/scale * 1em - @width) * 0.5
  border 0.3em solid #9b9
  overflow hidden
  // font-family monospace
  // -moz-user-select auto
  // -webkit-user-select auto
  // user-select auto
  opacity 0.95

.profile-card.purchased
  border-color #e21

.profile-card > *
  position absolute
  font-size 0.77em
  // border 0.1em dashed #ddd
  margin 0
  padding 0
  z-index 2

.profile-card .picture
  top 1em
  left 1em
  width 7em
  height 7em
  border 0.1em solid black
  border-radius 0.4em
  background-size cover

.profile-card.editable.purchased .picture
  cursor pointer
.profile-card.editable.purchased .picture:hover
  box-shadow 0 0 0.4em #6f1

.profile-card .picture .img-overlay
  z-index 3
  width 100%
  height 100%
  position absolute
  top 0%
  padding 0.5em
  text-align center
  pointer-events none
  transition 0.4s
.profile-card .picture .img-overlay a
  pointer-events initial
.profile-card.editable.purchased .picture .img-overlay
  top 40%
  opacity 0
.profile-card.editable.purchased .picture:hover .img-overlay
  top 100%
  opacity 1

.profile-card h1
  left 9em
  top 1em
.profile-card h1 > div
  font-size 1.7em

.profile-card .category
  left 9em
  top 6em

.profile-card .category a
  display none
.profile-card.editable .category a
  display initial

.profile-card .user-name
  left 9em
  right 1em
  top 4em
  height 1em
.profile-card.editable div.user-name
  cursor pointer
.profile-card.editable div.user-name:hover
  text-shadow 0 0 0.2em #6f1
// .profile-card.editable div.user-name:hover::after
//   content ' (click to edit)'
//   font-size 0.6em
//   opacity 0.3
.profile-card input.user-name
  height 1.3em
.profile-card input.user-name.invalid
  background #fbb

.profile-card .user-name-error
  left 9em
  right 1em
  top 3em
  color #800

.profile-card .user-id
  right 1em
  top 6em
  color #aaa

.profile-card .issued
  left 9em
  top 6em

.profile-card .tracks
  left 9em
  top 7em

.profile-card .badges
  top 9em
  left 1em
  right 1em
  bottom 1em
  // background #f99
  // box-shadow inset 0 0 1em black
  border 0.1em dashed #ddd
  border-radius 0.4em
  text-align center

.profile-card .badges .label
  position absolute
  width 100%
  z-index -1
  text-align left
  font-family monospace
  font-size 1.5em
  color #ddd

.profile-card .badges img
  width 6em
  height 6em
