
#credits
  position absolute
  right 1em
  top 1em
  z-index 2

.credits-box
  // background rgba(255, 255, 255, 0.7)
  background #fff
  color black
  position absolute
  top 1em
  right 1em
  border-radius 0.5em
  padding 0.2em 0.4em
  opacity 0.7
  transition opacity 1.5s

.credits-box:hover
.credits-box.flash
  opacity 1
  transition opacity 0

// .race-credits-box
//   position absolute
//   top 0.5em
//   left 0
//   right 0
//   text-align center

// .race-credits-box > span
//   background rgba(255, 255, 255, 0.7)
//   border-radius 0.5em
//   padding 0.2em 0.4em

span.ca-credit
  background url('/images/ca-credit.png')
  background-repeat no-repeat
  background-size contain
  background-position left center
  padding-left 1.2em

.purchasebutton
  // display inline-block
  margin-left 0.1em
  text-align center

.purchasebutton .plus
  display inline-block
  background #140
  color white
  border-radius 0.2em
  width 0.8em
  height 0.8em
  position relative
  top 0.2em

.purchasebutton .plus
  color white

.purchasebutton .plus > span
  position relative
  top -0.25em

a.buybutton
  background #140
  border-radius 0.2em
  padding 0.1em 0.3em

a.buybutton
a.buybutton:visited
  color white

a.buybutton:hover
a.buybutton:active
  background #684

// .buybutton a span

.purchasecredits input[type="radio"]
  font-size inherit
  width 0.8em
  height 0.8em

.purchasecredits input
.purchasecredits button
  font-size inherit

.purchasecredits .checkout-buttons
  position absolute
  bottom 0.5em
  right 0.5em

//.purchasecredits .paypal-logo
//.purchasecredits input.checkout
//  position absolute
//  // width 1.11em * 3
//  // height 0.69em * 3
//  bottom 0.5em
//  right 0.5em

.purchasecredits label
  border-radius 0.5em

.purchasecredits label:hover
  background #fff

.stripe-box
  display inline-block

input.checkout
  margin-bottom -0.3em

button.checkout-stripe
  background #ddedff
  background linear-gradient(to bottom, #ddedff 0%,#68aaed 100%)
  border-radius 0.4em
  padding 0.2em 0.4em
  cursor pointer

button.checkout-stripe > img
  width 298em * 0.01
  height 82 * 0.01
