
table.list
  border-spacing 0.1em
  font-size 0.8em
table.list tr
  background #eee
table.list tr:first-child
  background #ddd
table.list td
  padding 0 0.7em

table.list input
table.list button
  font-size inherit

label.favorite input
  width 1.3em
  height 1.3em
  vertical-align -20%
  padding 0
  font-size 1em
  background-image url("/emojis/star.png")
  background-size cover
  appearance none
  -moz-appearance none
  -webkit-appearance none
  cursor pointer

label.favorite input:not(:checked)
  filter grayscale(1)
  -moz-filter grayscale(1)
  -webkit-filter grayscale(1)
