
@import common
@import drive
@import editor
@import profile
@import track

body
  background #888
  -moz-user-select none
  -webkit-user-select none
  user-select none
  cursor default

  // Disable scrolling
  overflow hidden
  position fixed
  width 100%

// WTF?
h2
  display inline

input[type="range"]
  width 60%

input:checked + label
  color #e77

#statusbar,
#editor-inspector,
#editor-helpbox,
.close-tab
  background #fda
  box-shadow 0 0 10px black
  position absolute

#statusbar
  top 0
  width 100%
  z-index 2
  font-weight bold

#statusbar > table
  border-spacing 0
  width 100%

#statusbar > table td:nth-child(1)
  width 12em
#statusbar > table td:nth-child(2)
  width 30em
// #statusbar > table td:nth-child(3)
//   width 25%
// #statusbar > table td:nth-child(4)
//   width 30%

// #statusbar > table td:nth-child(3)
//   text-align center

#statusbar > table td:last-child
  text-align center

#statusbar .status
  font-weight initial

#statusbar > table td.navigation > *
  margin 0 0.5em
.dropdownmenu
  position relative
.dropdownmenu > menu
  font-weight initial
  position absolute
  left -1em
  top 100%
  width 18em
  background rgba(255, 221, 170, 0.95)
  margin 0
  padding 1em 0 0.4em
  display none
  border-radius 0 0 0.4em 0.4em
.dropdownmenu:hover > menu
  display inline-block
  // line-height 1.3em
.dropdownmenu > menu > *
  padding 0.1em 1em
.dropdownmenu > menu > li
  border-radius 0.4em
.dropdownmenu > menu > li:hover
  background #fec
.dropdownmenu > menu > hr
  padding 0
  margin 0.4em 1em
.dropdownmenu > menu .label
  font-style italic
  opacity 0.5
.dropdownmenu > menu > ul
  padding-left 2.5em

#unified-child
  position relative

.gui-container
  position relative
  width 32em
  height 18em
  margin auto
  overflow auto

.gui-container h1
  margin 0.3em 0
  text-shadow 0 1px 0 white, 0 0 0.2em white, 0 0 0.4em white

.text-panel
  -moz-user-select auto
  -webkit-user-select auto
  user-select auto
  font-size 0.6em
  background white
  opacity 0.95
  padding 1em
  cursor auto

img.github
  float right
  width 8em
  height 8em
  margin-top -1em
  margin-right -1em
  // position absolute
  // top 0
  // right 0
  // border 0

.gui-container menu
  position absolute
  width 100%
  height 100%
  // background rgba(0,0,0,0.6)
  z-index 2
  font-size 1em
  // -webkit-perspective 100px
  margin auto
  padding 1em 0
  text-align center

.gui-container menu a
.gui-container menu a:visited
.gui-container menu a:hover
  display block
  margin 0.4em auto
  padding 0.3em
  width 30%
  // color #6e0
  color black
  // text-shadow 0 0 0.5em white
  // text-shadow 0 0 0.3em black
  text-shadow 0 0 0.3em #6f1
  background white //rgba(255, 255, 255, 0.8)
  border-radius 0.5em
  opacity 0.8
  -webkit-transform scale(1)
  // transition -webkit-transform 0.1s
  transition 0.1s
  position relative

.gui-container menu a:hover
  opacity 1
  -webkit-transform scale(1.05)

.gui-container menu a:active
  -webkit-transform scale(0.95)

menu > li
  list-style none
  display block

.gui-container .new-marker
  background red
  border-radius 0.4em
  color white
  font-size 0.8em
  left 0
  padding 0 0.2em
  position absolute
  top 0
  left -1em
  -webkit-transform rotate(-20deg)
  transition 0.1s

.gui-container a:hover .new-marker
  -webkit-transform rotate(-10deg)

#view3d
  background gray
  position absolute
  width 100%

.highlight
  font-weight bold
  color #f33

#track-list
  max-height 7.5em
  overflow auto

#track-list .track.selected
  background #fec

#webgl-warning img.browserlogo
  width 5em
  height 5em

table.credits
  border-spacing 0
table.credits td
  padding-bottom 0.7em
  vertical-align top
table.credits td:first-child
  padding-right 3em

.checkout-box
.purchased-thanks
  display inline-block
  background #dfd
  border-radius 0.5em
  padding 1em
  border 1px solid black

.checkout-box
  margin 1em 5em
  background-color:#ffffff;
  background-image: -moz-radial-gradient(66% 65%, circle cover, #ffffff 30%, rgb(168, 197, 224));
  background-image: -webkit-radial-gradient(66% 65%, circle cover, #ffffff 30%, rgb(168, 197, 224));
  background-image: radial-gradient(66% 65%, circle cover, #ffffff 30%, rgb(168, 197, 224))

.checkout-box table
  text-align center
  border-spacing 0
  padding-right 0.6em

.checkout-box img.pack
  width 4em
  height 4em

.checkout-box .price
  display inline-block
  // padding-bottom 0.8em
  // padding-right 1em
  padding 0.8em 1em

// .checkout-box .purchased
//   text-align left

a.paypal-checkout img
  // margin-left 1em
  // margin 1em 1em -0.8em 1em
  // margin-bottom -0.8em
  width 145em * 0.05
  height 42em * 0.05

.ignition-promo-image
  display inline-block
  float right
  width (1680/80)em
  height (1066/80)em
  background-image url(/images/ignition-promo.jpg)
  background-size cover
  border-radius 0.5em

.smaller
  font-size 0.6em
