
@import common
@import drive

body
  background #888
  -moz-user-select none
  -webkit-user-select none
  user-select none

  // Disable scrolling
  overflow hidden
  position fixed
  width 100%

h2
  display inline

input[type="range"]
  width 60%

input:checked + label
  color #e77

#statusbar,
#editor-inspector,
#editor-helpbox,
.close-tab
  background #fda
  box-shadow 0 0 10px black
  position absolute

// #input-capture
//   position absolute
//   background pink
//   opacity 0.2
//   width 100%
//   height 100%
//   // visibility hidden

#statusbar
  width 100%
  z-index 2

#statusbar > table
  border-spacing 0
  width 100%

#statusbar > table td
  width 33.3%

#statusbar > table td:nth-child(2)
  text-align center

#statusbar > table td:last-child
  text-align right

#editor-helpbox-wrapper,
#editor-inspector
  top 10px

#editor-helpbox,
#editor-inspector,
.close-tab
  padding 10px
  border-radius 4px
  opacity 0.9

#editor-helpbox-wrapper
  position absolute
  z-index 4
  width 600px
  right -620px
  -webkit-transition right 0.5s

#editor-helpbox-wrapper.visible
  right 10px

#editor-helpbox
  z-index 4
  width 600px
  height 510px
  overflow-y scroll

#editor-helpbox table
  border-spacing 0

#editor-helpbox td
  border-bottom 1px solid rgba(0,0,0,0.3)
  margin 0
  vertical-align top

#editor-helpbox td:first-child
  padding-right 1em

.close-tab
  z-index -1
  width 80px
  //height 50px
  padding 5px
  right 600px
  top 20px
  cursor pointer

#editor-inspector
  z-index 3
  left 10px
  width 270px

.warning
  font-weight bold
  color #d00
  border 1px solid #d00
  border-radius 4px
  background #fdd
  padding 0.5em
  margin 0.5em 0

#editor-inspector .warning
  font-size 80%

#editor-inspector h3
  margin 0

#editor-inspector hr
  margin 0.3em 0

#editor-inspector .attrib
  display none

#editor-inspector .attrib.visible
  display block

#editor-inspector .label
  position relative

#editor-inspector .content
  position absolute
  left 110px
  width 150px

.tooltip
  border-bottom 1px dotted #333
  position relative

.tooltip .tooltip-text
  display none
  position absolute
  opacity 0.95
  left 2em
  top 1em
  background #ee9
  font-size 80%
  padding 0 12px
  border 1px solid #440
  color black
  border-radius 4px
  width 300px
  z-index 3

.tooltip:hover .tooltip-text
  display inline-block

/*
menu
  background rgba(255,255,255,0.8)
  cursor pointer
  margin 0
  padding 0
  position relative
*/

#unified-child
  position relative
  width 32em
  height 18em
  margin auto
  overflow auto

.text-panel
  -moz-user-select auto
  -webkit-user-select auto
  user-select auto
  font-size 0.6em
  background white
  opacity 0.9
  padding 1em

img.github
  float right
  width 8em
  height 8em
  margin-top -1em
  margin-right -1em
  // position absolute
  // top 0
  // right 0
  // border 0

menu
  position absolute
  width 100%
  height 100%
  // background rgba(0,0,0,0.6)
  z-index 2
  font-size 1em
  // -webkit-perspective 100px
  margin auto
  padding 1em 0
  text-align center

menu a
menu a:visited
menu a:hover
  display block
  margin 0.4em auto
  padding 0.3em
  width 30%
  color #6e0
  // text-shadow 0 0 0.5em white
  text-shadow 0 0 0.3em black
  background rgba(255, 255, 255, 0.8)
  border-radius 0.5em
  opacity 0.6
  -webkit-transform scale(1)
  // transition -webkit-transform 0.1s
  transition 0.1s
  position relative

menu a:hover
  opacity 1
  -webkit-transform scale(1.05)

menu a:active
  -webkit-transform scale(0.95)

menu li
  list-style none

.new-marker
  background red
  border-radius 0.4em
  color white
  font-size 0.8em
  left 0
  padding 0 0.2em
  position absolute
  top 0
  -webkit-transform rotate(-20deg)
  transition 0.1s

menu a:hover .new-marker
  -webkit-transform rotate(-10deg)

#view3d
  background gray
  position absolute
  width 100%

.highlight
  font-weight bold
  color #f33

#track-list
  max-height 7.5em
  overflow auto

#track-list .track.selected
  background #fec

#webgl-warning img.browserlogo
  width 5em
  height 5em

table.credits
  border-spacing 0
table.credits td
  padding-bottom 0.7em
  vertical-align top
table.credits td:first-child
  padding-right 3em

.checkout-box
  display inline-block
  margin 2em 5em
  padding 1em
  border 1px solid black

a.paypal-checkout img
  margin-left 1em
  margin-bottom -0.8em
  width 145em * 0.05
  height 42em * 0.05

img.codeartemis
  float right
  width (537/50)em
  height (435/50)em

.smaller
  font-size 0.6em
