!=partial('partial/header', { login: 1 })

.content
  p
    | The original Trigger Rally is an open source racing game.
    | You can check it out <a href="http://trigger-rally.sourceforge.net/">here</a>.

  p
    | This online edition uses parts of Trigger Rally
    | ported to JavaScript.

  p Technology:
  ul
    li <a href="http://trigger-rally.sourceforge.net/">Trigger Rally</a>
    li <a href="http://mrdoob.github.com/three.js/">three.js</a>
    li <a href="http://www.khronos.org/webgl/">WebGL</a>
    li <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">Web Audio</a>

  p Resources:
  ul
    li Teide cube map by <a href="http://www.humus.name/">Humus</a>
    li Earth texture by <a href="http://mayang.com/textures/">Mayang</a>
    li Trees by <a href="http://www.turbosquid.com/Search/Artists/killst4r">killst4r</a>
    li Car by <a href="http://www.turbosquid.com/Search/Artists/reliable_3d">reliable_3d</a>

  p
    | ja<span class="hidden">.remove.</span>reiko@triggerrally.com

  !=partial('partial/footer')
