extends layout

block body
  include partial/header

  .content
    a(href="http://github.com/CodeArtemis/TriggerRally")
      img(style="position: absolute; top: 0; right: 0; border: 0;"
          src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
          alt="Fork me on GitHub")

    p
      | The original Trigger Rally is an open source racing game.
    p
      | The Online Edition uses parts of Trigger Rally
      | ported to JavaScript, running in the browser with WebGL graphics.

    p Technology:
    ul
      li <a href="http://trigger-rally.sourceforge.net/">Trigger Rally</a>
      li <a href="http://mrdoob.github.com/three.js/">three.js</a>
      li <a href="http://www.khronos.org/webgl/">WebGL</a>
      li <a href="http://chromium.googlecode.com/svn/trunk/samples/audio/index.html">Web Audio</a>

    p Resources:
    ul
      li Car by <a href="http://www.turbosquid.com/Search/Artists/reliable_3d">reliable_3d</a>
      li Tree model by <a href="http://www.turbosquid.com/Search/Artists/killst4r">killst4r</a>
      li Various textures by <a href="http://mayang.com/textures/">Mayang</a>
      li Miramar cube map by <a href="http://opengameart.org/content/miramar-skybox">hipshot</a>
      li Crash sound effects by <a href="http://www.freesound.org/people/sagetyrtle/sounds/40158/">sagetyrtle</a>
      li Elevation data from <a href="http://www.viewfinderpanoramas.org/dem3.html">Viewfinder Panoramas</a>
      li Emoji from the <a href="http://github.com/arvida/emoji-cheat-sheet.com">Emoji Cheat Sheet</a>

    p
      | Thanks to <a href="https://twitter.com/pyalot">Florian Bösch</a> for
      | interesting discussion on terrain rendering techniques.

    p
      | Made by <a href="https://twitter.com/jareiko">jareiko</a>,
      | ja<span class="hidden">.remove.</span>reiko@triggerrally.com

    .section Terms of use

    p
      | Data on the site may be lost at any time.
      | Your use of Trigger Rally is entirely at your own risk.
      | We may change or break any aspect of the game or take it down at any time.
      | In other words, there is no warranty whatsoever.
      | Have fun!

    .section Privacy Policy

    p
      | Any information we have about you (such as your login ID) will be
      | used only for the purpose of interacting with this game. We will never
      | sell your data to any third parties.

    include partial/footer
