extends layout

block body
  include partial/header

  .content

    h1= urlCar.name

    .section Information

    dl
      dt Name
      dd= urlCar.name

    dl
      dt Created by
      dd
        user = urlCar.user
        include partial/user

    include partial/footer
