!=partial('partial/header', { login: 1 })

.content

  .editprofile
    a.button(href="#", onclick="this.classList.contains('disabled') ? evt.preventDefault() : document.theform.submit()", id="submitbutton") Save changes

  h1= urlCar.name

  .section Information

  form(name="theform", action="save", method="post")

    p(style="color:red")
      | Be careful, there's currently no history or undo in the database.
      | The ID is in the URL: changing it will break existing web links.

    !=partial('partial/formfield', { title:'Name', name:'name', value:urlCar.name })
    !=partial('partial/formfield', { title:'ID', name:'pub_id', value:urlCar.pub_id })

    dl
      dt Created by
      dd
        !=partial('partial/user', {user:urlCar.user})


    textarea(name='config', rows=20, cols=80, autofocus)
      =JSON.stringify(urlCar.config, null, 2)

  !=partial('partial/footer')

!=partial('partial/formvalidate')
