extends layout

block body
  include partial/header

  .content

    p Fast arcade rally racing action!

    table
      tr
        td
          a(href="/track/v3-base-1/edit")
            img(width="300", height="169", src="/images/screen4.jpg", alt="Screenshot of Track Editor")
        td
          a.button.special(href="/track/v3-base-1/edit") New: try the <b>track editor</b>!
          if !user
            a.button(href="/login") (Requires log in)

      tr
        td
          a(href="/x/Alpina/ArbusuG/drive")
            img(width="300", height="169", src="/images/screen3.jpg", alt="Screenshot of Trigger Rally v2")
        td
          a.button(href="/x/Alpina/ArbusuG/drive") Play Version 2

      tr
        td
          a(href="/x/Preview/Arbusu/drive")
            img(width="300", height="210", src="/images/screen1.jpg", alt="Screenshot of v1")
        td
          a.button(href="/x/Preview/Arbusu/drive") Play Version 1

    .section Latest tracks

    table.list
      tr
        td Name
        td By
        td Modified
        td
        td
      each track in recentTracks
        tr
          td
            a(href="/track/#{track.pub_id}/drive")= track.name
          td
            user = track.user
            include partial/user
          td= track.modified_ago
          td
            a(href="/track/#{track.pub_id}") Details
          if track.env
            td
              a(href="/track/#{track.pub_id}/edit") Open in editor

    .section News
    .twitterfeeds
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      script
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'TriggerRally',
          interval: 10000,
          title: 'What people are saying about',
          subject: 'TriggerRally',
          width: 940,
          height: 310,
          theme: {
            shell: {
              background: '#496b35',
              color: '#ffffff'
            },
            tweets: {
              background: '#000000',
              color: '#ffffff',
              links: '#4aed05'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: true,
            behavior: 'default'
          }
        }).render().start();

    include partial/footer
