!!! 5
html
  head
    - if (title)
      title= title + ' - Trigger Rally'
    - else
      title Trigger Rally
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/jquery-ui-1.8.16.custom.css')
    link(rel='icon', href='/favicon.png')
    //- script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/jquery-ui-1.8.16.custom.min.js')
    script(src='/js/underscore-min.js')
  body!= body
  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29310119-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
