doctype 5
html
  head
    - if (title)
      title= title + ' - Trigger Rally'
    - else
      title Trigger Rally
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='/favicon.png')
    if isChrome
      link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/ffcmblpjhjbkjhpemdpepfgcefkbejbi")
    //- script(src='/js/jquery-1.7.1.min.js')
    //- Version 1 expects underscore.
    script(src='/js/underscore-min.js')
  body
    block body
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29310119-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script(type='text/javascript')
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50ed5e81613f5d5a5f000015');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
