doctype html
html
  head
    - if (title)
      title= title + ' - Trigger Rally'
    - else
      title Trigger Rally
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='/favicon.png')
    if isChrome
      link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/ffcmblpjhjbkjhpemdpepfgcefkbejbi")
    //- script(src='/js/jquery-1.7.1.min.js')

    //- Version 1 expects underscore.
    //- script(src='/js/underscore-min.js')

    //- Classic Google Analytics.
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29310119-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    //- Google Universal Analytics.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29310119-2', 'triggerrally.com');
      ga('send', 'pageview');

  body
    block body

    //- This layout is used for server-rendered pages. For client app, see main.jade.
