extends layout

block body
  include partial/header

  .content

    .section Latest tracks

    table.list
      tr
        td Name
        td By
        td Modified
        td
        td
      each track in recentTracks
        tr
          td
            a(href="/track/#{track.pub_id}/drive")= track.name
          td
            user = track.user
            include partial/user
          td= track.modified_ago
          td
            a(href="/track/#{track.pub_id}") Details
          if track.env
            td
              a(href="/track/#{track.pub_id}/edit") Open in editor

    include partial/footer
