extends layout

block body
  include partial/header

  .content
    p
      | Trigger Rally requires WebGL for GPU accelerated 3D graphics.

    p We recommend
      | <a href="http://www.google.com/chrome">Google Chrome</a> or
      | <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a> for the best experience.

    include partial/footer
