
#editor-toolbox
  div
    .scroll-horiz
      h2
        a(href="/") Trigger Rally
      - if (user)
        !=partial('partial/user', {user:user})
      span#status Status
      span lots and lots and lots
    .userinfo
      - if (user)
        !=partial('partial/user', {user:user})
        span &nbsp;&mdash;&nbsp;
        a(href='/logout') Log Out
      - else//- if (login)
        span
          a(href="/login")<strong>Log in</strong>


#view3d

script(src="/socket.io/socket.io.js")

script
  var TRIGGER = {
    TRACK: {
      ID: '#{urlTrack.pub_id}',
      NAME: '#{urlTrack.name}',
      CONFIG: !{JSON.stringify(urlTrack.config)}
    },
    METRICS: #{'production' === process.env.NODE_ENV}
  };

script(data-main="/scripts/editor/editor-main", src="/js/require.js")
