
#sidebar
  h1= urlTrack.name

  .section Information

  p TRACK EDIT
  dl
    dt Name
    dd= urlTrack.name

  dl
    dt Created by
    dd
      !=partial('partial/user', {user:urlTrack.user})

#view3d
