
#view3d

#editor-toolbox(title="Track editor")
  div
    h3 General
    div
      .field
        span Owner
        span
          !=partial('partial/user', {user:urlTrack.user})
        .end

      .field
        span Name
        input(value='#{urlTrack.name}')
        .end

      .field
        span ID
        input(value='#{urlTrack.pub_id}')
        .end

    h3 Elevation
    div
      .toolbar#elevation-tools
        input(type="radio", id="tool1", name="tool")
        label(for="tool1") Tool 1
        input(type="radio", id="tool2", name="tool")
        label(for="tool2") Tool 2
        input(type="radio", id="tool3", name="tool")
        label(for="tool3") Tool 3

      .field
        span Radius
        .tool-slider#radius-slider
        .end

      .field
        span Falloff
        .tool-slider#falloff-slider
        .end

    h3 Surface
    div
      p Hello!

    h3 Course
    div
      p Hello!

    h3 Scenery
    div
      p Hello!

script(data-main="/scripts/editor-main", src="/js/require.js")
