extends layout

block body
  include partial/header

  .content

    .editprofile
      a.button(href="#", onclick="this.classList.contains('disabled') ? evt.preventDefault() : document.theform.submit()", id="submitbutton") Save changes

    h1= urlTrack.name

    .section Information

    form(name="theform", action="save", method="post")

      p(style="color:red")
        | Be careful, there's currently no history or undo in the database.
        | The ID is in the URL: changing it will break existing web links.

      field = { title:'Name', name:'name', value:urlTrack.name }
      include partial/formfield
      field = { title:'ID', name:'pub_id', value:urlTrack.pub_id }
      include partial/formfield

      dl
        dt Created by
        dd
          user = urlTrack.user
          include partial/user


      textarea(name='config', rows=20, cols=80, autofocus)
        =JSON.stringify(urlTrack.config, null, 2)

    include partial/footer

  include partial/formvalidate
