
#editor-statusbar
  table
    tr
      td
        h2
          a(href="/") Trigger Rally&nbsp;
      //td
        menu
          li Menu
            menu(type="list")
              li Hello
              li Goodbye
      td
        span Status:&nbsp;
        span#status Loading
      td
        .userinfo
          - if (user)
            !=partial('partial/user', {user:user})
            span &nbsp;&mdash;&nbsp;
            a(href='/logout') Log Out&nbsp;
          - else//- if (login)
            span
              a(href="/login")<strong>Log in</strong>&nbsp;

#editor-inspector
  h3 Property inspector
  .attrib#sel-type
    span.label Selection:
    span.content1 no selection

  .attrib#title
    span.label Title:
    span.content1

  .attrib#track-radius
    span.label Track radius:
    span.content1

#view3d

script(src="/socket.io/socket.io.js")

script
  var TRIGGER = {
    TRACK: !{JSON.stringify(trackData)}
  };

script(data-main="/scripts/editor/editor-main", src="/js/require.js")
