extends layout

block body
  include partial/header

  .content

    h1= urlTrack.name

    .section Information

    dl
      dt Name
      dd= urlTrack.name

    dl
      dt Created by
      dd
        user = urlTrack.user
        inlude partial/user

    include partial/footer
