
#view3d

#editor-toolbox(title="Track editor")
  div
    h3 General
    div
      .field
        span Owner
        span
          !=partial('partial/user', {user:urlTrack.user})
        .end

      .field
        span Name
        input(value='#{urlTrack.name}')
        .end

      .field
        span ID
        input(value='#{urlTrack.pub_id}')
        .end

    h3 Elevation
    div
      p Hello!

    h3 Surface
    div
      p Hello!

    h3 Course
    div
      p Hello!

    h3 Scenery
    div
      p Hello!

script(data-main="/scripts/editor-main", src="/js/require.js")
