
#editor-toolbox
  table
    tr
      td
        h2
          a(href="/") Trigger Rally&nbsp;
      //td
        menu
          li Menu
            menu(type="list")
              li Hello
              li Goodbye
      td
        span Status:&nbsp;
        span#status Status
      td
        .userinfo
          - if (user)
            !=partial('partial/user', {user:user})
            span &nbsp;&mdash;&nbsp;
            a(href='/logout') Log Out&nbsp;
          - else//- if (login)
            span
              a(href="/login")<strong>Log in</strong>&nbsp;


#view3d

script(src="/socket.io/socket.io.js")

script
  var TRIGGER = {
    TRACK: {
      ID: '#{urlTrack.pub_id}',
      NAME: '#{urlTrack.name}',
      CONFIG: !{JSON.stringify(urlTrack.config)}
    },
    METRICS: #{'production' === process.env.NODE_ENV}
  };

script(data-main="/scripts/editor/editor-main", src="/js/require.js")
