doctype 5
html
  head
    title Trigger Rally
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic', type='text/css')
    link(rel='stylesheet', href='/css/editor.css')
    link(rel='icon', href='/favicon.png')
  body
    #unified-container

    //- script(src="/socket.io/socket.io.js")

    - if ('production' === process.env.NODE_ENV)
      script(src="/build-v3/editor-main.js")
    - else
      script(data-main="/scripts/editor/editor-main", src="/js/require.js")

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29310119-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
