!=partial('partial/header', { login: 1 })

.content

  h1
    Verify email

  p 
    | Thanks for signing up! Please check your email for the verification link
    | to confirm your address and log in.

  p Please also check your Spam folder if you don't see the email.

  !=partial('partial/footer')

!=partial('partial/formvalidate')
