
*
  box-sizing border-box

body
  background #dec
  color #000
  padding 0
  margin 0
  font-family "Ubuntu", sans-serif
  text-shadow 0 1px 0 #fff

h1, h2
  font-family: 'fantasy', 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 0

input
  font-family: 'Ubuntu', sans-serif;

.version
  opacity 0.3

.user img
img.inline
  width 1.3em
  height 1.3em
  margin-right 0.32em
  vertical-align -20%
  border-radius 0.13em

img.emoji
  width 1.3em
  height 1.3em
  vertical-align -20%

.gray
  -moz-filter grayscale(1)
  -webkit-filter grayscale(1)
  filter grayscale(1)

img.profilepic
  width 70px
  height 70px
  border-radius 7px

a
a:visited
  color #140
  text-decoration none
  cursor pointer

a:hover
  color #000
  text-shadow 0 0 4px #6f1

a:active
  color #684

a.disabled
a.disabled:hover
a.disabled:active
a.disabled:visited
  color #777
  text-shadow inherit
  cursor default

.hidden
  display none !important

.float-left
  float left
.float-right
  float right
.clear-both
  clear both

.no-pointer-events
  pointer-events none
