.gui-container.drive > *
  color #000
  position absolute
  text-shadow 0 0 0.1em #fff, 0 0 0.4em #fff
  z-index 2

.checkpoints
  top 0.5em
  left 1em
  font-size 2em

.timer
  color #040
  bottom 0.3em
  right 1em
  font-size 2em
  -moz-transition -moz-transform 2s
  -moz-transform-origin bottom right
  -moz-transform scale(2)
  -webkit-transition -webkit-transform 2s
  -webkit-transform-origin bottom right
  -webkit-transform scale(2)
.timer.running
  color #000
  -moz-transform scale(1)
  -webkit-transform scale(1)

.split-time
  border-radius 0.2em
  padding 0.1em 0.3em
  right 2em
  text-align right
  top 5em
  background rgba(128,0,0,0.3)
  // text-shadow 0 0 0.1em #f00, 0 0 0.4em #fff
// .split-time.plus
.split-time.minus
  background rgba(0,255,0,0.3)
  text-shadow 0 0 0.1em #0f0, 0 0 0.4em #fff

.speedo
  bottom 1em
  left 0
  font-size 1em
  color #040
  text-align center
  text-shadow 0 0 0.1em #fff, 0 0 0.4em #fff
  // -webkit-transform scale(1)
  width 6em

.countdown
  top 1em
  left 0
  right 0
  font-size 3em
  text-align center
  opacity 1

.countdown.fadeout
  transition all 0.5s ease-in 0.3s
  transform translateY(-0.7em)
  -moz-transition all 0.5s ease-in 0.3s
  -moz-transform translateY(-0.7em)
  -webkit-transition all 0.5s ease-in 0.3s
  -webkit-transform translateY(-0.7em)
  opacity 0
