* {
  box-sizing: border-box;
}
body {
  background: #dec;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 0 1px 0 #fff;
}
h1,
h2 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
.version {
  opacity: 0.3;
}
.user img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: -20%;
  border-radius: 2px;
}
img.emoji {
  width: 1em;
  height: 1em;
}
img.profilepic {
  width: 70px;
  height: 70px;
  border-radius: 7px;
}
a,
a:visited {
  color: #370;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-shadow: 0 0 4px #6f1;
}
a:active {
  color: #684;
}
a.disabled,
a.disabled:hover,
a.disabled:active,
a.disabled:visited {
  color: #777;
  text-shadow: inherit;
  cursor: default;
}
.frame3d a {
  color: #03f;
  text-decoration: underline;
}
.frame3d:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
body {
  background: #888;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
h2 {
  display: inline;
}
input[type="range"] {
  width: 60%;
}
input:checked + label {
  color: #e77;
}
#statusbar,
#editor-inspector,
#editor-helpbox,
.close-tab {
  background: #fda;
  box-shadow: 0 0 10px #000;
  position: absolute;
}
#statusbar {
  width: 100%;
  z-index: 2;
}
#statusbar > table {
  border-spacing: 0;
  width: 100%;
}
#statusbar > table td {
  width: 33.3%;
}
#statusbar > table td:nth-child(2) {
  text-align: center;
}
#statusbar > table td:last-child {
  text-align: right;
}
#editor-helpbox-wrapper,
#editor-inspector {
  top: 10px;
}
#editor-helpbox,
#editor-inspector,
.close-tab {
  padding: 10px;
  border-radius: 4px;
  opacity: 0.9;
}
#editor-helpbox-wrapper {
  position: absolute;
  z-index: 4;
  width: 600px;
  right: -620px;
  -webkit-transition: right 0.5s;
}
#editor-helpbox-wrapper.visible {
  right: 10px;
}
#editor-helpbox {
  z-index: 4;
  width: 600px;
  height: 510px;
  overflow-y: scroll;
}
#editor-helpbox table {
  border-spacing: 0;
}
#editor-helpbox td {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin: 0;
  vertical-align: top;
}
#editor-helpbox td:first-child {
  padding-right: 1em;
}
.close-tab {
  z-index: -1;
  width: 80px;
  padding: 5px;
  right: 600px;
  top: 20px;
  cursor: pointer;
}
#editor-inspector {
  z-index: 3;
  left: 10px;
  width: 270px;
}
.warning {
  font-weight: bold;
  color: #d00;
  border: 1px solid #d00;
  border-radius: 4px;
  background: #fdd;
  padding: 0.5em;
  margin: 0.5em 0;
}
#editor-inspector .warning {
  font-size: 80%;
}
#editor-inspector h3 {
  margin: 0;
}
#editor-inspector hr {
  margin: 0.3em 0;
}
#editor-inspector .attrib {
  display: none;
}
#editor-inspector .attrib.visible {
  display: block;
}
#editor-inspector .label {
  position: relative;
}
#editor-inspector .content {
  position: absolute;
  left: 110px;
  width: 150px;
}
.tooltip {
  border-bottom: 1px dotted #333;
  position: relative;
}
.tooltip .tooltip-text {
  display: none;
  position: absolute;
  opacity: 0.95;
  left: 2em;
  top: 1em;
  background: #ee9;
  font-size: 80%;
  padding: 0 12px;
  border: 1px solid #440;
  color: #000;
  border-radius: 4px;
  width: 300px;
  z-index: 3;
}
.tooltip:hover .tooltip-text {
  display: inline-block;
}
/*
menu
  background rgba(255,255,255,0.8)
  cursor pointer
  margin 0
  padding 0
  position relative
*/
#unified-child {
  position: relative;
  width: 24em;
  height: 18em;
  margin: auto;
  overflow: auto;
}
.text-panel {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
  font-size: 0.6em;
  background: #fff;
  opacity: 0.9;
  padding: 1em;
}
img.github {
  float: right;
  width: 8em;
  height: 8em;
  margin-top: -1em;
  margin-right: -1em;
}
menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 1em;
  margin: auto;
  padding: 1em 0;
  text-align: center;
}
menu a,
menu a:visited,
menu a:hover {
  color: #6e0;
  text-shadow: 0 0 0.3em #000;
}
menu li {
  list-style: none;
  padding: 0.3em;
  margin: 0.8em auto;
  width: 60%;
  box-shadow: 0 0 0.5em #370;
  background: rgba(51,119,0,0.5);
  border-radius: 0.5em;
  opacity: 0.6;
  -webkit-transform: scale(1);
  transition: 0.1s;
}
menu li:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
}
#view3d {
  background: #808080;
  position: absolute;
  width: 100%;
}
.highlight {
  font-weight: bold;
  color: #f33;
}
#track-list {
  max-height: 7.5em;
  overflow: auto;
}
#track-list .track.selected {
  background: #fec;
}
#webgl-warning img.browserlogo {
  width: 5em;
  height: 5em;
}
table.credits td {
  vertical-align: top;
}
