body {
  background: #dec;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  text-shadow: 0 1px 0 #fff;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-accordion h3 {
  padding-left: 2em;
}
.field :nth-child(1) {
  float: left;
}
.field :nth-child(2) {
  float: right;
}
.field .end {
  clear: both;
}
.user img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: -20%;
}
