.gui-container
  .text-panel
    p.warning.hidden#webgl-warning
      | Trigger Rally requires WebGL for GPU accelerated 3D graphics.
      br
      br
      | We recommend
      | <a href="http://www.google.com/chrome">Google Chrome</a> or
      | <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>* for the best experience.
      br
      br
      a(href="http://www.google.com/chrome")
        img.browserlogo(src="/images/chrome-256.png", alt="Chrome logo")
      a(href="http://www.mozilla.org/firefox")
        img.browserlogo(src="/images/firefox-256.png", alt="Firefox logo")
      br
      br
      | For more information, please visit <a href="http://get.webgl.org/">get.webgl.org</a>.
      br
      br
      | * Editor not supported in Firefox.

    p Please read the 
      a.route(href="/license") License, Terms of Use and Privacy Policy
      | .

    p <a href="http://blog.triggerrally.com/about">Background / press info</a>.

    h3 Credits
    table.credits
      tr
        td Design &amp; programming
        td
          a(target="_blank", href="https://twitter.com/jareiko") Jasmine Kent
          | , Code Artemis
      tr
        td Models
        td
          a(target="_blank", href="http://www.turbosquid.com/Search/Artists/reliable_3d") reliable_3d
          br
          a(target="_blank", href="http://www.turbosquid.com/Search/Artists/killst4r") killst4r
          br
          a(target="_blank", href="http://www.turbosquid.com/Search/Artists/PM3DM") pm3dm
          br
          a(target="_blank", href="https://twitter.com/jareiko") Jasmine Kent
      tr
        td Textures
        td
          a(target="_blank", href="http://mayang.com/textures/") Mayang
          br
          a(target="_blank", href="http://opengameart.org/content/miramar-skybox") hipshot
      tr
        td Character Art
        td: a(target="_blank", href="http://www.trickstertoys.com") Ben Schupp
      tr
        td Sound effects
        td
          a(target="_blank", href="http://www.freesound.org/people/sagetyrtle/sounds/40158/") sagetyrtle
          br
          a(target="_blank", href="http://www.freesound.org/people/swelk/sounds/12906/") swelk
          br
          a(target="_blank", href="http://www.freesound.org/people/decembered/sounds/42774/") decembered
          br
          a(target="_blank", href="http://www.freesound.org/people/RHumphries/sounds/1925/") RHumphries
      tr
        td Elevation data
        td: a(target="_blank", href="http://www.viewfinderpanoramas.org/dem3.html") Viewfinder Panoramas
      tr
        td With thanks to
        td
          a(target="_blank", href="https://twitter.com/pyalot") Florian Bösch
          br
          a(target="_blank", href="https://twitter.com/Kaori_Ino") かおりん
          br
          a(target="_blank", href="http://www.gamespace.ch/") gamespace.ch

    h3 Support

    p For support, please 
      a(href="https://github.com/CodeArtemis/TriggerRally/issues") file an issue on GitHub
      | , or email 
      | sup<span class="hidden">.remove.</span>port@codeartemis.com

    h3 Technology

    p
      | The <a target="_blank" href="http://trigger-rally.sourceforge.net/">original Trigger Rally</a>
      | is an open source racing game.
    p
      | The Online Edition uses parts of Trigger Rally
      | ported to JavaScript, running in the browser with WebGL graphics.

    ul
      li <a target="_blank" href="http://www.khronos.org/webgl/">WebGL</a>
      li <a target="_blank" href="http://mrdoob.github.com/three.js/">three.js</a>
      li <a target="_blank" href="http://www.w3.org/TR/webaudio/">Web Audio</a>
      li <a target="_blank" href="http://coffeescript.org/">CoffeeScript</a>
