table.commentlist.list
  if loggedIn
    tr
      td.loggedinuser
      td
        input.comment-text(type="text")
      td
        button.comment-post Post
  else
    tr
      td
      td
        a.login(href="/login") Log in
        |  to comment
      td
