table.commentlist.list
  if loggedIn
    tr
      td [You]
      td
        input.comment-text(type="text")
      td
        button.comment-post Post comment
  else
    tr
      td
      td
        a.login(href="/login") Log in
        |  to comment
      td
