.gui-container.drive
  .checkpoints
  .timer.running
  .split-time.hidden
  .countdown
  .speedo
  //- .race-credits-box
  //-   span
  //-     span.ca-credit.racecredits= raceCredits
  menu.racecomplete.hidden
    br
    br
    br
    br
    br
    menu.home-left
      li
        a.btn.route.highlight.nextbutton(href="/") &gt; Next Track &lt;
      //- li
      //-   a.route.drivebutton(href="/") Restart (R)
    //- menu.home-right
    //-   li
    //-     a.route(href="/purchase") Full Game
