.gui-container.drive
  .checkpoints
  .timer.running
  .split-time.hidden
  .countdown
  .speedo
  menu.racecomplete.hidden
    br
    br
    br
    br
    br
    menu.home-left
      li
        a.route.highlight.nextbutton(href="/") &gt; Next Track &lt;
      //- li
      //-   a.route.drivebutton(href="/") Restart (R)
    menu.home-right
      li
        a.route(href="/purchase") Full Game
