.gui-container.drive
  .checkpoints
  .timer.running
  .split-time.hidden
  .countdown
  .speedo
  .dialog.racecomplete.hidden
    .dialogpadding
      h1 Finished in 
        span.finishtime
      .linespacing
        a.sharebutton.facebook(href="#") Challenge your friends on <strong>Facebook</strong>!
        br
        a.sharebutton.twitter(href="#") Share your time on <strong>Twitter</strong>!
        hr
        center
          a.route.restartbutton(href="drive") Restart
          |  | 
          a.route(href=".") Top times
          |  | 
          a.route(href="/") Home
          br
          a.route.nextbutton(href="#") Next Track
