menu
  h2 Trigger Rally online edition
    //- a.route(href="/") Trigger Rally 
    //- span.version online edition
  a.route(href="/track/v3-base-1/drive"): li Play
  a(href="/recenttracks"): li User tracks
  a.route(href="/about"): li About
