.gui-container
  unless loggedIn
    a.twitter-promo.outgoing(href="https://twitter.com/jareiko", target="_blank")
      img(src="/images/i-made-this.svg")
  menu
    //- div Code Artemis presents
    //- .promo-donate Donations welcome at BTC 1ATrJJfJjfxhD5VbtT3yCrYCMBkWPKCPsm :)
    h1 Trigger Rally
    menu.home-left
      li
        a.btn.route.highlight.drivebutton(href="/") &gt; Drive &lt;
      li.ignition-promo.hidden
        a.btn.route(href="/ignition") Icarus
      //-     .new-marker New!
      li.mayhem-promo.hidden
        a.btn.route(href="/mayhem") Mayhem
      //-     .new-marker New!
      //- li
      //-   a.route(href="/track/Alpina/drive") Alpina
      //- li
      //-   a.route(href="/track/KaXCxxFv/drive") Engelberg Descent
      unless loggedIn
        li
          a.btn.login(href="/login") Log in
    menu.home-right
      li
        a.btn.route(href="/tracklist/featured") Featured tracks
      li
        a.btn.route(href="/tracklist/favhot") Most favorited
          .new-marker New!
      li
        a.btn.route(href="/tracklist/recent") Published tracks
      li
        a.btn.route(href="/tracklist/all") All tracks
      li
        a.btn.route(href="/track/v3-base-1/edit") Create a track
