.gui-container
  menu
    div Code Artemis presents
    h1 Trigger Rally
    li
      a.route.highlight(href="/tracklist/featured") &gt; Play &lt;
    li
      a.route(href="/tracklist/recent") More tracks
    //- li
    //-   a.route(href="/instructions") Instructions
    li.ignition-promo.hidden
      a.route(href="/ignition") Icarus Car
        .new-marker New!
