.gui-container
  menu
    .smaller Code Artemis presents
    h1 Trigger Rally
    li
      a.route(href="/tracklist/featured") Featured
    li
      a.route(href="/tracklist/recent") Recent tracks
    li
      a.route(href="/about") About
    li.ignition-promo.hidden
      a.route(href="/ignition") Ignition Icarus
        .new-marker New!
