.text-panel
  img.codeartemis(src="/images/codeartemis.svg")
  h2 Trigger Rally 
    span.highlight Ignition
  p The Ignition Pack is awesome. You should buy it now.
  .checkout-box
    span.price $5 USD
    a.paypal-checkout(href="/checkout?product=ignition")
      img(src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif")
  .clear-both
