.gui-container
  .text-panel
    .ignition-promo-image

    h2: span.highlight Ignition Icarus

    p The Ignition Icarus is a new car for Trigger Rally:
    ul
      li More powerful and <b>faster</b> than the Arbusu
      li Retractable <b>wings</b> for controlled gliding
      li Includes an upgrade to <b>Rally License</b> so you can choose your avatar
      //- li <b>Support</b> the development of Trigger Rally

    if purchased
      p
        strong Thank you for purchasing the Ignition Icarus!
        |  Your support is very much appreciated.
        br
        | Don't forget you can now also 
        a.route(href="/user/#{user.id}") choose an avatar
        | .

    .checkout-box
      table
        tr
          td: img.pack(src="/images/packs/ignition.svg")
          td Ignition Pack
        tr
          if purchased
            td
            td
              .purchased Purchased.
                br
                | Thank you!
          else if user
            td: span.price $5 USD
            td
              a.paypal-checkout(href="/checkout?product=ignition")
                img(src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif")
          else
            td: span.price $5 USD
            td: a.login(href="/login") Log in

    if purchased
      p
        | If you need help with your purchase,
        | please contact sup<span class="hidden">.remove.</span>port@codeartemis.com
    else if user
      p Purchase will be credited to user ID #{user.id} (#{user.name}).

    p Want to buy for someone else? Please contact sup<span class="hidden">.remove.</span>port@codeartemis.com

    p Use is subject to the 
      a.route(href="/license") License and Terms of Use
      | .
    .clear-both
