.gui-container
  .text-panel

    h3 License and Terms of Use

    p License version 2013-04-19.1

    p
      | (1)
      | Trigger Rally has two components: Source Code and Content.
      | Everything is copyright &copy; 2012-2013 Code Artemis unless otherwise attributed.

    p
      | (2)
      | The Source Code is the executable code for Trigger Rally.
      | It can be found <a target="_blank" href="https://github.com/CodeArtemis/TriggerRally">on GitHub</a>.

    p
      | (2.1)
      | The Source Code may be used under the terms of
      | the <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v3</a>.

    p
      | (3)
      | Content is all data that can be downloaded from the website triggerrally.com.

    p
      | (3.1)
      | You may use the Content to play the original Trigger Rally as served
      | from triggerrally.com, and you may cache or copy it locally.
      | However, you may not modify or redistribute the Content for any purpose
      | unless you have a separate license from the owner(s) to do so.
      | To enable local testing and experimenting, you may use the Content with
      | versions of Trigger Rally that you yourself have modified, but not
      | if the modifications were made by someone else.

    p
      | (3.2)
      | Paid Content is Content that requires payment to use.
      | You may not use Paid Content unless you have bought the appropriate license.
      | The terms for Content also apply to Paid Content.

    p
      | (6)
      | FAQ about this License:

    p
      | (6.1) 
      strong Can I copy/fork Trigger Rally and run it locally?
      |  &mdash; Yes.

    p
      | (6.2) 
      strong Can I publish a copy of Trigger Rally?
      |  &mdash; In general, no.

    p
      | (6.3) 
      strong Can I publish a "total conversion" of Trigger Rally?
      |  &mdash; Yes, if you use only assets you haved created or secured a suitable license for,
      | and do not misrepresent your conversion as the original.

    p
      | (7)
      | Disclaimer:
      | Data on the site may be lost at any time.
      | Your use of Trigger Rally is entirely at your own risk.
      | We may change or break any aspect of the game or take it down at any time.
      | In other words, there is no warranty whatsoever.

    h3 Privacy Policy

    p
      | Any personally identifying information you provide will be
      | used only for the purpose of interacting with this game. We will never
      | sell your data to third parties.
