extraClass = editable ? "user-owned" : ""

div(class="profile-card #{extraClass}")
  img.profile(src="/images/profile/1.jpg")
  span &nbsp;
  h1
    div Rally License&nbsp;
  span &nbsp;
  .category Provisional 
    a.route(href="/ignition") (Upgrade)
  span &nbsp;
  .user-id ID: #{id}
  span &nbsp;
  .user-name= name
  span &nbsp;
  .issued Issue date: #{created}
  span &nbsp;
  .badges
    .label Endorsements
    img(src="/images/packs/ignition.svg", title="Ignition")
