table
  tr
    td
      h2
        a.route(href="/") Trigger Rally
    td
      a.route(href="/") Home
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.route(href="/about") About
      //- | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      //- a(href="javascript:location.reload()") Reload
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      span.dropdownmenu Settings
        menu
          li: label
            input#pref-audio(type="checkbox", checked=prefs.audio)
            | Sound
          li: label
            input#pref-shadows(type="checkbox", checked=prefs.shadows)
            | Shadows *
          li: label
            input#pref-terrainhq(type="checkbox", checked=prefs.terrainhq)
            | High quality terrain *
          hr.car-section
          .label * Requires reload
    td
      span Status:&nbsp;
      span#status Loading
    td
      .userinfo
