table
  tr
    td
      h2 Trigger Rally
    td
      a.route(href="/") Home
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.route(href="/about") About
    td
      span Status:&nbsp;
      span#status Loading
    td
      .userinfo
