.gui-container
  .text-panel

    h2 Choose a track!
    h3.tracksetname= name
    table.tracksetcollection
      tr
        td Track
        td By
        td Modified
        td Driven
        td Copied
