.gui-container
  .text-panel

    h2 Choose a track!

    h3.tracksetname= name

    table.tracklist.list
      tr
        td Track
        td By
        td Modified
        td Driven
        td Copied
        td Fav
