.gui-container
  .text-panel

    h2.name= name

    h3 Track by 
      span.author
      |  &mdash; 
      a.route(href="#{id}/drive") Drive

    table.runlist.list
      tr
        td
        td Driver
        td Time
        td Car
        td
        td Recorded
