if user
  //- Unfortunately, Jade client-side includes aren't working.
    //include ./user
  span.user
    a.route(href="/user/#{user.pub_id || user.id}")
      img_src = user.picture ? user.picture : "blank"
      img_src = "/images/profile/" + img_src + ".jpg"
      img(src=img_src)
      span.username #{user.name}
  span &nbsp;&mdash;&nbsp;
  a.logout(href='/logout') Log out&nbsp;
else
  span
    a.login(href="/login")
      strong Log in&nbsp;
