@font-face {
	font-family: 'BENNB';
	src: url('./BENNB.eot');
	src: local('BENNB'), url('./BENNB.woff') format('woff'), url('./BENNB.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_572">Text with this font applied</p> */
.fontsforweb_fontid_572 {
	font-family: 'BENNB' !important;
}

/* Font downloaded from FontsForWeb.com */